
body{
    font-family: "Roboto", "Oswald", "Montserrat", "Arimo", sans-serif;
    color: rgba(67, 68, 85, 1);
    background-color: rgba(255, 255, 255, 1);
}
        /* HEAD - MENU BACKGROUND */
.head-menu{background-color: rgba(231, 233, 252, 1);}

        /* HEAD - LOGO SETUP + ACCENT */
.web-logo{color: rgba(46, 47, 66, 1);
font-family: "Raleway";
font-size: 18px;
font-weight: 700;
line-height: 1.7;
text-decoration: none;
}

.accent-web {color: rgba(77, 90, 229, 1);}

        /* HEAD - NAV+ADDRESS - LINKS */
.head-nav > a{
    color: rgba(46, 47, 66, 1);
    font-weight: 500;
    line-height: 1.5;
    text-decoration: none;
    }

    .head-nav > a:hover {color: rgba(77, 90, 229, 1);}
    .head-nav > a:focus {color: rgba(77, 90, 229, 1);}

.head-contact > a{
    color: rgba(67, 68, 85, 1);
    line-height: 1.5;
    text-decoration: none;
}

    .head-contact > a:hover {color: rgba(229, 77, 204, 1);}
    .head-contact > a:focus {color: rgba(229, 77, 204, 1);}

        /* MAIN SECTION - button + title */
.main-title-button {background-color: rgba(46, 47, 66, 1);
    ;}

    .main-title-button > h1 {
        color: rgba(255, 255, 255, 1);
        font-size: 56px;
        font-weight: 700;
        line-height: 1.1;
        letter-spacing: 0.02em;
        text-align: center;
    }

    .main-title-button > button {
    background-color:  rgba(77, 90, 229, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    font-weight: 500;
    line-height: 1.5;
    width: 169px;
    height: 56px;
    }

    .main-title-button > button:hover {color: rgba(46, 47, 66, 1);
        background-color: orange;
    }

    .main-title-button > button:focus {color: rgba(46, 47, 66, 1);
        background-color: orange;
    }

    /* MAIN SECTION FEATURE - H3 / P */
.feature-list > h3 {color: rgb(66, 46, 60);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
}


.feature-list > p {color: rgba(46, 47, 66, 1);
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
}

     /* MAIN SECTION FEATURE - H3 / P */


.team-list >li > h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
}

.team-list > li > p {
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    
}


.portfolio-list > li > h3 {color: rgba(46, 47, 66, 1);
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: left;
}

.portfolio-list > li > p {color: rgba(67, 68, 85, 1);
line-height: 1.5;
letter-spacing: 0.02em;
text-align: left;

}
   
        /* Footer */

.foot-main {background-color: rgba(46, 47, 66, 1);
}
    .foot-main > a {color: rgba(244, 244, 253, 1);
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.2;
        text-decoration: none;
        letter-spacing: 0.03em;
        text-align: left;
}
    .foot-main > p {color: rgba(244, 244, 253, 1);
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: left;
        }

/* visual */

section {
    clear: both;}

footer {
    clear: both;}

.team-list > li {
    list-style-type: none;
    display: inline;
	white-space: nowrap;
    float: left;
    margin: 1%;
}

.portfolio-list > li {
    list-style-type: none;
    display: inline;
	white-space: wrap;
    float: left;
    margin: 1%;
}

